<div class="container" style="margin: 15px;margin-left: 5%; margin-right: 5%;">
    <div class="row">
        <div class="col-sm-3">
            <a [routerLink]="['/rutas']">
                <div class="card text-center" style="max-width: 18rem;">
                    <!-- Imagen tomada de la base de imagenes shutterstock -->
                    <img src="https://image.shutterstock.com/z/stock-vector--d-top-view-of-a-map-with-destination-location-point-aerial-clean-top-view-of-the-day-time-city-1890043630.jpg"
                        class="card-img-center" alt="Propiedad de shutterstock" style="height: 14rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ "Rutas" | translate }}</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-3">
            <a [routerLink]="['/vuelos']">
                <div class="card text-center" style="max-width: 18rem; max-height: min-content;">
                    <!-- Imagen tomada de la base de imagenes shutterstock -->
                    <img src="https://image.shutterstock.com/z/stock-vector-airplane-vector-icon-1297054468.jpg"
                        class="card-img-center" alt="Propiedad de shutterstock" style="height: 14rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{"Vuelos"|translate}}</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>