<nav class="navbar navbar-dark bg-dark">
    <div class="nav" style="margin: 3px;">
        <ul class="nav nav-pills" role="tablist">
            <li class="nav-item" role="presntation">
                <a class="nav-link" [routerLink]="['/']"><i class="far fa-paper-plane"></i> &nbsp;Gestor
                    de Vuelos Rodriguez</a>
            </li>
            <li class="nav-item" role="presentation" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <button class="nav-link" [routerLink]="['/home']">Home</button>
            </li>
            <li class="nav-item" role="presentation" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <button class="nav-link" [routerLink]="['/rutas']">Rutas</button>
            </li>
            <li class="nav-item" role="presentation" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <button class="nav-link" [routerLink]="['/vuelos']">Vuelos</button>
            </li>
        </ul>
    </div>
</nav>