<!-- Contenedor del html Vuelos-->
<div class="container" style="margin: 15px; margin-left: 10%">
    <!-- Form de busqueda avanzada-->
    <div class="card">
        <div class="card-header">
            <h5>{{"busquedaAvanzada.nombre"|translate}}</h5>
        </div>
        <div class="card-body">
            <form class="form-group" [formGroup]="filterForm">
                <div class="row">
                    <div class="col-4">
                        <label>{{"busquedaAvanzada.Fecha"|translate}}:</label>
                        <input type="date" class="form-control" formControlName="fecha" required (change)="filter()">
                    </div>
                    <div class="col-4">
                        <label>{{"busquedaAvanzada.Conector"|translate}}:</label>
                        <select class="form-control" formControlName="conector" required (change)="filter()">
                            <option selected value="">{{"comboBox.seleccione"|translate}} {{"busquedaAvanzada.Conector"|translate}}</option>
                            <option value="AND">{{"busquedaAvanzada.y"|translate}}</option>
                            <option value="OR">{{"busquedaAvanzada.o"|translate}}</option>
                        </select>
                    </div>
                    <div class="col-4">
                        <label>{{"ruta"|translate}}:</label>
                        <select class="form-control" formControlName="ruta" required (change)="filter()">
                            <option selected value="">{{"comboBox.seleccioneUna"|translate}} {{"ruta"|translate}}</option>
                            <option *ngFor="let ruta of rutaList" value="{{ ruta.idRuta }}">
                                {{"comboBox.de"|translate}}: {{ ruta.origen.nombreCiudad }} {{"comboBox.a"|translate}}: {{ ruta.destino.nombreCiudad }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="invalid feedback col-10" *ngIf="conectorInvalido">
                        {{ mensaje }}
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-12">
                        <button class="btn btn-primary" (click)="filter()">{{"botones.buscar"|translate}}</button>
                        &nbsp;
                        <button class="btn btn-secondary" (click)="limpiar()">{{"botones.limpiar"|translate}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br>
    <!-- Tabla del listado -->
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-4">
                    <h5 class="card-title">{{"listas.vuelos.nombre"|translate}}</h5>
                </div>
                <div class="col-8">
                    <button class="btn btn-primary" routerLink='/vuelos/create'
                        style="float: right; width: 10rem;">{{"botones.crear"|translate}}</button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-hover">
                <caption>{{"listas.vuelos.nombre"|translate}}</caption>
                <thead class="thead-col">
                    <tr>
                        <th scope="col">{{"listas.vuelos.id"|translate}}</th>
                        <th scope="col">{{"listas.vuelos.fechaVuelo"|translate}}</th>
                        <th scope="col">{{"listas.vuelos.aerolinea"|translate}}</th>
                        <th scope="col">{{"listas.vuelos.ruta"|translate}}</th>
                        <th scope="col" style="width: 250px; max-width: max-content;">{{"listas.vuelos.operaciones"|translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let vuelo of vuelosList">
                        <td>{{ vuelo.idVuelo}}</td>
                        <td>{{ vuelo.fecha_vuelo | date : "dd/MM/yyyy" }}</td>
                        <td>{{ vuelo.aerolinea_idAerolinea.nombreAerolinea }}</td>
                        <td>{{ vuelo.ruta_idRuta.origen.nombreCiudad }} - {{ vuelo.ruta_idRuta.destino.nombreCiudad}}
                        </td>
                        <td>
                            <button class="btn btn-edit" (click)="openEditForm(vuelo)"><em class="far fa-edit"></em>
                                {{"botones.editar"|translate}}</button>&nbsp; &nbsp;
                            <button class="btn btn-danger" (click)="deleteVuelos(vuelo)"><em class="far fa-trash-alt" ></em> {{"botones.eliminar"|translate}}</button>
                    </tr>
                    <tr *ngIf="vuelosList.length == 0">
                        <td colspan="5">
                            <p style="text-align: center; font-size: x-large; color: red;">{{"mensajes.vuelos.sinListar"|translate}}</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>