<div class="container" style="margin: 15px; margin-left: 10%;">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{"listas.rutas.nombre"|translate}}</h5>
            <table class="table table-bordered table-hover">
                <caption>{{"listas.rutas.nombre"|translate}}</caption>
                <thead class="thead-col">
                    <tr>
                        <th scope="col">{{"listas.rutas.id"|translate}}</th>
                        <th scope="col">{{"listas.rutas.origen"|translate}}</th>
                        <th scope="col">{{"listas.rutas.destino"|translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ruta of rutasList" (click)="selectRow(ruta)">
                        <td>{{ ruta.idRuta}}</td>
                        <td>{{ ruta.origen.nombreCiudad}}</td>
                        <td>{{ ruta.destino.nombreCiudad}}</td>
                    </tr>
                    <tr *ngIf="rutasList.length == 0">
                        <td colspan="5">
                            <p style="text-align: center; font-size: x-large; color: red;">{{"mensajes.rutas.sinListar"|translate}}</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>