<div class="container" style="margin: 15px; margin-left: 10%;">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Lista de rutas</h5>
            <table class="table table-bordered table-hover">
                <caption>Lista de rutas</caption>
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Origen</th>
                        <th scope="col">Destino</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ruta of rutasList">
                        <td>{{ ruta.idRuta}}</td>
                        <td>{{ ruta.origen.nombreCiudad}}</td>
                        <td>{{ ruta.destino.nombreCiudad}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>